  <div class="result">
    <h1>Result</h1>
    <% if @result == 0 %>
      <p>Sorry but <scan> <%= @word.upcase %> </scan> does not seem to be a valid English word, please use the grid !</p>
    <% elsif @result == @word %>
      <p>Congratulations! <scan> <%= @word.upcase %> </scan> is a valid English word!</p>
    <% else %>
      <p>Sorry but <scan> <%= @word.upcase %> </scan> can't be built out of <%= @letters %></p>
    <% end %>
    <p id="link"><%= link_to "Play again", new_path%></p>
  </div>
